@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* =====================================================
    ====================================Line Breaks======= */
.line-break {
    margin:0 auto;
    margin-bottom: 20px;
    height: 5px;
    border-radius: 5px;
    border: 2px solid;
}

.line-break--short{
    width: 100px;
}

.line-break--yellow{
    color: rgb(249, 249, 113);
}

/* =====================================================
    ====================================Wildcard======= */
*  {
    font-family: "roboto", sans-serif;
    margin: 0;
    border:0;
    padding:0;
}

/* =====================================================
    ====================================Navbar======= */
.navbar, .navbar-expand-lg, .navbar-light{
    width: 100%;
}
.site-icon {
    background-image: url(../images/site-icon/site-icon-96x96.png);
    background-position: center;
    width: 80px;
    height: 80px;
    transition:ease-in-out 1s;
    -moz-transition:ease-in-out 1s;
    -webkit-transition:ease-in-out 1s;
}

.navbar-nav{
    margin: 0 auto;
}

.navbar-mr {
    margin-right: 96px;
}

.navbar {
    position: fixed;
    font-weight: 400;
    font-size: 150%;
    z-index: 2;
}

.navbar-light .navbar-nav .nav-link{
    color: #845EC2;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:active:focus {
    color: #FF9671;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #FF9671;
}

.dropdown-item{
    color: #845EC2;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:active:focus{
    color: #FF9671;
    background-color:transparent;
    font-weight: bold;
}

.item-proj{
    color: black;
    font-weight: bold;
}

.nav-item {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.651);
    margin:0 1px 0 1px;
}


/* =====================================================
    ====================================Hero Image======= */
.hero-image {
    background-image: url(../images/site-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 100vh;
    z-index: 1;
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-direction: normal;
    margin: 0;
    padding: 0;
}


@keyframes hero-zoom {

    from{
        transform: scale(.1);
    }
    to {
        transform: scale(1);
    }
}

/* =====================================================
    ====================================About Section======= */

.about-section {
    padding-top: 100px;
    width: 100vw;
    height: 100vh;
}

.about-image {
    background-image: url(../images/about-skills/anim-skills/image-1.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    z-index: -1;
}

.about-overlay {
    width: 80%;
    height: 85%;
    background-color: rgba(255, 255, 255, 0.664);
    border-radius: 100px;
    position: absolute;
    z-index: -1;
    left: 10%;
    top: 8%;
}

.about-heading {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
    color: #845EC2;

}

.about-text {
    font-family: "lato", open-sans;
    font-size: larger;
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

