@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* =====================================================
    ====================================Line Breaks======= */
.line-break {
    margin:0 auto;
    margin-bottom: 20px;
    height: 5px;
    border-radius: 5px;
    border: 2px solid;
}

.line-break--no-margin {
    margin:0 auto;
    height: 5px;
    border-radius: 5px;
    border: 2px solid;
}

.line-break--short{
    width: 100px;
}

.line-break--thin {
    height:10px
}

.line-break--long {
    width: 10px;
}

.line-break--yellow{
    color: rgb(249, 249, 113);
}

.line-break--purple {
    color: #845EC2;
}

.line-break--even-mr {
    margin: 10px 0px;
}

.line-break--mb {
    margin-bottom:10px ;
}

/* =====================================================
    ====================================TEXT======= */
.uppercase {
    text-transform: uppercase;
}

.roboto {
    font-family: roboto, "open-sans";
}

.lato {
    font-family: lato, "open-sans";
}

.text-xl {
    font-size: x-large !important;
}
.text-larger {
    font-size: larger !important;
}

.text-large {
    font-size: large !important;
}

.text-medium {
    font-size: medium !important;
}

.text-small {
    font-size: smaller !important;
}

.text-smaller {
    font-size: smaller !important;
}

/* COLOURS */

.white {
    color: #fff;
}

.purple {
    color: #845EC2;
}

.red {
    color: rgb(207, 0, 0);
}

.green {
    color: rgb(34, 172, 0);
}

.blue {
    color: rgb(0, 89, 255);
}

.black {
    color: black;
}

/* =====================================================
    ====================================Wildcard======= */
*  {
    font-family: "roboto", sans-serif;
    margin: 0;
    border:0;
    padding:0;
}

/* =====================================================
    ====================================Buttons======= */
button {
    background: none;
}
.btn-primary {
    background-color: #845EC2;
    border-color: #845EC2;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
    color: black;
    background-color: #FF9671;
    border-color: #FF9671;
    transition: ease-in-out .4s;
}

.btn--top{
    background-color: rgba(132, 94, 194, 0.815);
    border-radius: 10px 0 0 10px ;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 150px;
    right: 0;
    font-size: 25px;
    color: #FF9671;
    transition: ease-in-out .4s;
    margin:auto;
}

.btn--top:hover a,
.btn--top a i:hover,
.btn--top a i:active,
.btn--top a i:focus,
.btn--top a i:active:focus {
    color: black;
    transition: ease-in-out .4s;
}

.btn--top a {
    color: #FF9671;
}

.btn--top a i:hover,
.btn--top a i:active,
.btn--top a i:focus,
.btn--top a i:active:focus {
    color: black;
}

.btn--margin-top {
    margin-top: 20px;
}

/* =====================================================
    ====================================Images======= */
.shake:hover {
    animation: shake .2s;
    animation-iteration-count: infinite;
 }   
@keyframes shake {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(-1deg); }
  100% { transform: rotate(1deg); }
}

/* =====================================================
    ====================================Navbar======= */
.navbar, .navbar-expand-lg, .navbar-light{
    width: 100%;
}
.site-icon {
    background-image: url(../images/site-icon/site-icon-96x96.png);
    background-position: center;
    width: 80px;
    height: 80px;
    transition:ease-in-out 1s;
    -moz-transition:ease-in-out 1s;
    -webkit-transition:ease-in-out 1s;
}

.navbar-nav{
    margin: 0 auto;
}

.navbar-mr {
    margin-right: 96px;
}

.navbar {
    position: fixed;
    font-weight: 400;
    font-size: 150%;
    z-index: 2;
}

.navbar-light .navbar-nav .nav-link{
    color: #845EC2;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:active:focus {
    color: #FF9671;
    transition: ease-in-out .4s;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #FF9671;
}

.dropdown-item{
    color: #845EC2;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:active:focus{
    color: #FF9671;
    background-color:transparent;
    font-weight: bold;
}

.navbar-toggler {
    background: rgba(132, 94, 194, 0.685);
}

.item-proj{
    color: black;
    font-weight: bold;
}

.nav-item {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.651);
    margin:0 1px 0 1px;
}

.hvr-bounce-to-top:before {
    background: rgba(132, 94, 194, 0.699);
    border-radius: 10px;
}

/* =====================================================
    ====================================Hero Image======= */
.hero-container {
    height: 100vh;
}

.hero-bg {
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50%, 50%;
    animation-name: hero-bg-fade;
    animation-duration: 3s;
    animation-direction: normal;
}

.hero-image {
    background-image: url(../images/site-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 100vh;
    z-index: 1;
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-direction: normal;
    margin: 0;
    padding: 0;
}


@keyframes hero-zoom {

    from{
        transform: scale(.1);
    }
    to {
        transform: scale(1);
    }
}

@keyframes hero-bg-fade {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

/* =====================================================
    ====================================About Section======= */

.about-section {
    padding: 10% 5% 5% 5%;
    width: 100vw;
    /* background-image: url(../images/about-bg.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    */
    background-image
} 

.about-text-box {
    background-color: rgba(255, 255, 255, 0.877);
    border-radius: 10px;
    padding: 20px;
}

.about-video-box {
    margin: auto;
    text-align: center;
}

.about-heading h2 {
    font-size: 431% !important;
}

.about-heading p {
    font-size: 215% !important;
    margin: 0;
}

.about-content {
    margin: 0 auto;
}

.about-text {
    font-family: "lato", "open-sans";
    text-align: left;
}

.about-video {
    width: 80%;
    max-width: 560px;
    margin: auto;
}

.about-skills {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.about-skills-wrapper--right {
    text-align: center;
}

.about-skills-wrapper--right img{
    margin: 33% auto;
}

.testi-wrapper {
    border-radius: 10px;
    margin-top: 10px;
    padding: 0;
}

.testi-box {
    min-height: 200px;
    max-height: 350px;
    background-color: rgba(255, 255, 255, 0.877);
    border-radius: 10px;
    margin: 5px auto;
    text-align: center;
    padding:10px;
}

.heading-box {
    background-color: rgba(132, 94, 194, 0.822);
    border-radius: 10px;
    vertical-align: middle;
    padding: 5px;
    margin-bottom: 10px;
}

.testimonials-title {
    text-align: center;
    font-size: 250%;
    margin:0;
}

.testimonial-heading {
    text-align: center;
    color: #845EC2;
    margin-left: auto;
    margin-right: auto;
}

.testimonial-img-circle {
    height: 75px;
    width: 75px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 0 auto;
}

.testimonial-img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 50%;
}

.testimonial-text {
    text-align: center;
    color: #845EC2;
    font-family: lato, "open-sans'";
}

@media only screen and (max-width:767px) {
    .about-section {
        background-attachment: unset;
    }
    .testimonial-heading {
        margin-top: 5%;
    }
    .testimonial-img-circle {
        float: left;
        margin: auto 0;
    }
    .testimonial-text {
        max-width: 70%;
        float: right;
        margin-right:8%;
    }    
}

@media only screen and (min-width:250px) and (max-width:578px) {
.about-heading h2 {
        font-size: 294% !important;
        margin-top: 80px;
    }
.about-heading p {
    font-size: 100% !important;
    }
.about-text-box {
    margin-bottom: 15px;
    }
.about-video {
        width: 100%;
        height: 100%;
        max-height: 560px;
    }
    .testimonials-heading {
        font-size: 175%;
    }
}

@media only screen and (min-width:579px) and (max-width:767px) {
.about-heading h2 {
        margin-top: 80px;
    }
.about-heading p {
    font-size: 120% !important;
    }
.about-text-box {
    margin-bottom: 15px;
    }
.about-video {
        width: 100%;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
.about-heading h2 {
        margin-top: 80px;
    }
.about-heading p {
    font-size: 205% !important;
    }
.about-text-box {
    margin-bottom: 15px;
    }
.about-video {
        width: 100%;
    }
}
/* =====================================================
    ====================================Latest Projects Section======= */

.latest-projects {
    padding-bottom: 0;
    margin-bottom: 0;
}

.projects-title {
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
    font-size: 300%;
}

HTML CSSResult Skip Results Iframe

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    transition: 1s;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: #845EC2;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1.5s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1.5s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1.5s;
    -ms-transform-style: preserve-3d;
    transition: 1.5s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 200px;
}

.backside .card a {
    font-size: 18px;
    color: white !important;
    text-decoration: none;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #845EC2 !important;
    font-size: 200%;
    font-family:"lato", open-sans;
    margin-top: 50px;
}

.card {
    height: 700px;
}

.latest-icon {
    font-size: 500%;
    color: #845EC2;
    margin-top: 250px;
}

.card-body {
    margin: 0 auto;
    height: 20%;
    width: 100%;
}

.latest-height {
    width: 100%;
}

.more-photos {
    font-size: 150%;
    color: #845EC2;
}

.more-photos:hover,
.more-photos:focus,
.more-photos:active,
.more-photos:active:focus {
    color: #FF9671;
}

@media only screen and (max-width:768px){
    .card {
        height:500px;
    }
}
/* =====================================================
    ====================================MODAL======= */

.modal-body {
    min-height: 30vh;
}

.modal-body--full {
    height: 100%;
    width: 100%;
}

.modal-title h2 {
    text-align: center;
}

.modal-bg {
    border-radius: 20px;
    overflow: visible;
}

.btn-close {
    float: right;
}

/* Gallery */

.h1-gal {
text-align:center;
padding-bottom:10px;
border-bottom:2px solid #f1f1f1;
}

.img-gal {
    width:100%;
    border: 1px solid grey;
    margin:2px;
}

.img-gal--full {
    width: 100%;
}

#box-mar {
    margin: 0 auto;
}
/* =====================================================
    ====================================Contact Section======= */

.contact-section {
    background-color: #131674;
    width: 100vw;
    padding: 5%;
}

.contact-image {
    background-image: url(../images/contact-bg.gif);
    background-color: #131674;
    height: 400px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto 0;
}

.contact-box {
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;
    width: 40vw;
    min-height: 40vh;
}

.contact-title {
    color: #845EC2;
    text-transform: uppercase;
    font-size:200%;
    font-weight: bold;
    text-align: left;
    margin-top: .5rem;
    margin-bottom: 10px;

}

.contact-label {
    color: #FF9671;
    font-weight: bold;
    font-size: large;
    margin: 10px 0 10px 0;
    max-width: 100%;
}

.contact-input-field {
    border: 1px solid #845EC2;
    color: #845EC2;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    display: block;
    margin: 10px 0 10px 0;
    padding-left: 5px;
}

::placeholder {
  color: #845EC2;
}

.input-field:active,
.input-field:focus {
    outline: none;
}

.input-message {
    border: 1px solid #845EC2;
    color: #845EC2;
    border-radius: 5px;
    min-height: 50%;
    width: 100%;
    margin: 10px 0 10px 0;
    padding-left: 5px;
}
.contact-input button {
    float: right;
    color: #FF9671;
    font-weight: 400;
    font-family: roboto,"open-sans";
}

.contact-input button:hover,
.contact-input button:active,
.contact-input button:focus {
    color: #845EC2;
}

@media only screen and (max-width:992px) {
    .contact-image {
        order: 6 !important;
        width: 100%;
    }
}

@media only screen and (max-width:768px) {
    .contact-box {
        min-width: 80vw;
        margin-top: 50px;
    }
    .contact-image {
        width: 100vw;
        order: 1 !important;
    }
    .contact-image {
        order: 6 !important;
        width: 100%;
    }
}

@media only screen and (max-width:765px) {
    .contact-box {
        min-width: 80vw;
        margin-top: 50px;
    }
}

@media only screen and (max-width:360px) {
    .contact-box {
        min-width: 80vw;
        margin-top: 50px;
    }
}

@media only screen and (max-width:320px) {
    .contact-box {
        min-width: 80vw;
        margin-top: 50px;
    }
}
/* Footer */

.footer {
    font-family: lato, "open-sans";
    height: 120px;
    text-align: center;
    background-color: #fff;
}

.footer i {
    color: #845EC2;
    margin-top: 20px;
}

.footer a {
        text-decoration: none;
        color: #845EC2;
        font-size: 300%;
}

.footer a:hover, i:hover,
.footer a:focus, i:focus,
.footer a:active, i:active,
.footer a:active:focus, i:Active:focus {
        color: #FF9671;
}

.footer-bg {
    background-color: darkslategrey;
    height: 120px;
}

.facebook {
    height: 80px;
}

.youtube {
    height: 80px;
}


.instagram {
    height: 80px;
}

.copy {
    font-weight: bold;
}

/* ==========================================================================================================
    =========================================================================================Archive Pages======= */

.portfolio-heading {
    font-family: roboto, "open-sans";
    margin-top: 100px;
    text-align: center;
    color: #845EC2;
}

.faves-area {
    background-image: url(../images/animation-page/background-animation.png);
    background-position: center;    
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.archive-area {
    background-image: url(../images/animation-page/background-animation.png);
    background-position: center;    
    height: 100%;
}

.title-box {

    background: linear-gradient(to right, rgb(213, 191, 247), #845EC2);
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-heading {
    color: #FF9671;
    text-align: center;
    font-size: 200%;
    font-weight: bolder;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    margin: 20px auto;
    border-radius: 10px 10px 0px 0px;
}

.section-heading i {
    transform: rotate(90deg);
    color: rgb(201, 38, 38);
}

.project {
    min-height: 200px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.452);
    border-radius: 10px;
    padding: 10px;
    min-width: 33%;
    margin:5% auto;
    overflow: auto;
    box-shadow: 0px 7px 9px -4px rgb(158 158 158);
}

.project h3 {
    font-family: roboto, "open-sans";
    font-size: 180%;
    color: #845EC2;
    text-align: center;
    margin: 5px auto;
    min-height: 80px;
}

.project-text {
    font-family: lato, "open-sans";
    text-align: center;
    font-weight: bold;
}

.project-img {
    min-width: 80%;
    max-width: 86%;
    max-height: 55%;
    margin: 0px auto 0px auto;
    display: block;
}

.project-img-full {
    margin: 0px auto 10px auto;
    display: block;
}

.project-vid {
    max-width: 65%;
    min-height: 150px;
    max-height: 150px;
    display: block;
    margin: auto;
}

@media screen and (max-width:767px) {
    .section-heading {
        writing-mode: unset;
        transform: rotate(360deg);
        margin-left: 20px;
        margin-right: 20px;
        font-size: 200%;
    }
    .section-heading i {
        transform: rotate(360deg);
    }
    .section-heading {
        background-image: none;
    }
    .title-box {
        background: linear-gradient(to bottom, rgb(213, 191, 247), #845EC2);
    }
}

/* ==========================================================================================================
    =========================================================================================404 Page======= */

.error-content {
    margin: 200px auto;
    text-align: center;
}

.error-content h2 {
    font-family: roboto, "open-sans";
    color: #845EC2;
    font-size: 300%;
}

.error-content p {
    font-family: roboto, "open-sans";
    color: #845EC2;
    font-size: 150%;
}

.error-content i {
    color: #FF9671;
    font-size: 500%;
    margin: 30px 0;
}