@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* =====================================================
    ====================================Line Breaks======= */
.line-break {
    margin:0 auto;
    margin-bottom: 20px;
    height: 5px;
    border-radius: 5px;
    border: 2px solid;
}

.line-break--short{
    width: 100px;
}

.line-break--thin {
    height:10px
}

.line-break--long {
    width: 10px;
}

.line-break--yellow{
    color: rgb(249, 249, 113);
}

.line-break--purple {
    color: #845EC2;
}

/* =====================================================
    ====================================Fonts======= */

.roboto {
    font-family: roboto, "open-sans";
}

/* =====================================================
    ====================================Font Colours======= */

.purple {
    color: #845EC2;
}

/* =====================================================
    ====================================Wildcard======= */
*  {
    font-family: "roboto", sans-serif;
    margin: 0;
    border:0;
    padding:0;
}

/* =====================================================
    ====================================Buttons======= */

.btn-primary {
    background-color: #845EC2;
    border-color: #845EC2;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
    color: black;
    background-color: #FF9671;
    border-color: #FF9671;
}

/* =====================================================
    ====================================Navbar======= */
.navbar, .navbar-expand-lg, .navbar-light{
    width: 100%;
}
.site-icon {
    background-image: url(../images/site-icon/site-icon-96x96.png);
    background-position: center;
    width: 80px;
    height: 80px;
    transition:ease-in-out 1s;
    -moz-transition:ease-in-out 1s;
    -webkit-transition:ease-in-out 1s;
}

.navbar-nav{
    margin: 0 auto;
}

.navbar-mr {
    margin-right: 96px;
}

.navbar {
    position: fixed;
    font-weight: 400;
    font-size: 150%;
    z-index: 2;
}

.navbar-light .navbar-nav .nav-link{
    color: #845EC2;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:active:focus {
    color: #FF9671;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #FF9671;
}

.dropdown-item{
    color: #845EC2;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:active:focus{
    color: #FF9671;
    background-color:transparent;
    font-weight: bold;
}

.navbar-toggler {
    background: rgba(132, 94, 194, 0.685);
}

.item-proj{
    color: black;
    font-weight: bold;
}

.nav-item {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.651);
    margin:0 1px 0 1px;
}


/* =====================================================
    ====================================Hero Image======= */
.hero-container {
    height: 100vh;
}

.hero-image {
    background-image: url(../images/site-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 100vh;
    z-index: 1;
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-direction: normal;
    margin: 0;
    padding: 0;
}


@keyframes hero-zoom {

    from{
        transform: scale(.1);
    }
    to {
        transform: scale(1);
    }
}

/* =====================================================
    ====================================About Section======= */
    
.about-section {
    padding-top: 100px;
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.about-image {
    background-image: url(../images/about-skills/anim-skills/image-1.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
    z-index: -2;
}

.about-overlay {
    width: 80%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.664);
    border-radius: 100px;
    position: absolute;
    z-index: -1;
    left: 10%;
    top: 9%;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 15vh;
}

.about-heading {
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 10px;
    color: #845EC2;
}

.about-text {
    font-family: "lato", open-sans;
    font-size: larger;
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

.creator {
    border-bottom: 3rem solid black;
    border-left: 1rem solid black;
    border-right: 1rem solid black;
    border-top: 1rem solid black;
    max-width: 70%;
    max-height: 75%;
    transform: rotate(20deg);
    margin: 0 auto;
}

/* =====================================================
    ====================================Latest Projects Section======= */

.latest-projects {
    min-height: 100vh;
    padding-bottom: 0;
    margin-bottom: 0;
}

.projects-title {
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
    font-size: 300%;
}

HTML CSSResult Skip Results Iframe

/* FontAwesome for working BootSnippet*/

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    transition: 1s;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: #845EC2;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 200px;
}

.backside .card a {
    font-size: 18px;
    color: white !important;
    text-decoration: none;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #845EC2 !important;
    font-size: 200%;
    font-family:"lato", open-sans;
    margin-top: 50px;
}

.card {
    height: 600px;
}

.latest-icon {
    font-size: 500%;
    color: #845EC2;
    margin-top: 250px;
}

.fa-plus-circle {
    font-size: 150%;
    color: #845EC2;
}

.fa-plus-circle:hover,
.fa-plus-circle:focus,
.fa-plus-circle:active,
.fa-plus-circle:active:focus {
    color: #FF9671;
}
/* =====================================================
    ====================================MODAL======= */

.modal-body {
    height: 70vh;
}

.modal-title h2 {
    text-align: center;
}

#modal-bg {
    background: rgba(255, 255, 255, 0.774);
    border-radius: 20px;
    overflow: visible;
}

.btn-close {
    float: right;
}

/* Gallery */

.h1-gal {
text-align:center;
padding-bottom:10px;
border-bottom:2px solid #f1f1f1;
}

.img-gal {
    width:100%;
    border: 1px solid grey;
    margin:2px;
}

#box-mar {
    margin: 0 auto;
}

.img-gal:hover {
    transform: scale(1.1);
}

.img-gal:active,
.img-gal:focus,
.img-gal:active:focus {
    transform: scale(2);
    animation-name: zoom-gal;
    animation-duration: 1s;
    animation-direction: normal;
}

@keyframes zoom-gal {
  from {
      transform:scale(1.1)
} 
  to {
      transform:scale(2)
    }
}

/* =====================================================
    ====================================Contact Section======= */

.contact {
    background-image: url(../images/contact-image.jpg);
    background-color: rgb(54, 83, 212);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
    min-height: 100vh;
    width: 100vw;
    position: relative;
}

.contact-box {
    min-height: 40vh;
    min-width: 30vw;
    max-width: 60vw;
    background-color: rgba(102, 102, 102, 0.473);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.contact-title {
    color: #845EC2;
    text-decoration: underline;
    text-align: center;
    margin-top: .5rem;
    font-size: x-large;
}

.contact-title {
    text-align: center;
}

.contact-label {
    color: #FF9671;
    font-weight: bold;
    font-size: large;
    text-align: right;
    margin: 10px 0 10px 0;
    text-align: left;
}

.input-field {
    background-color: rgba(255, 255, 255, 0.664);
    color: #845EC2;
    border-radius: 10px;
    height: 30px;
    width: 100%;
    display: block;
    margin: 10px 0 10px 0;
    padding-left: 5px;
}

::placeholder {
  color: #845EC2;
}

.input-field:active,
.input-field:focus {
    outline: none;
}

.input-message {
    background-color: rgba(255, 255, 255, 0.664);
    color: #845EC2;
    border-radius: 10px;
    min-height: 50%;
    width: 100%;
    margin: 10px 0 10px 0;
    padding-left: 5px;
}
.contact-input button{
    float: right;
    color: black;
    font-weight: 400;
    font-family: roboto,"open-sans";
}

@media screen and (max-width:600px) {
    .contact-label {
        margin: 0;
    }
    .input-field{
        margin: 0;
    }
    .contact-box {
        max-width: 90vw;
        max-height: 80vh;
        transform: translate(-50%, -45%);
    }
}

@media screen and (width:320px) {
    .contact-label {
        margin: 0;
    }
    .input-field{
        margin: 0;
    }
    .contact-box {
        width: 90vw;
        height: 80vh;
        transform: translate(-50%, -45%);
    }
    .input-message {
        height: 20%;
    }
    .input-mess-sm {
        height: 80px;
    }
}

/* Footer */

.footer {
    height: 120px;
    text-align: center;
    background-color: darkslategrey;
}

.footer i {
    color: #845EC2;
    margin-top: 20px;
}

.footer a {
        text-decoration: none;
        color: #845EC2;
}

.footer a:hover, i:hover,
.footer a:focus, i:focus,
.footer a:active, i:active,
.footer a:active:focus, i:Active:focus {
        color: #FF9671;
}

.footer-bg {
    background-color: darkslategrey;
    height: 120px;
}

.facebook {
    height: 80px;
}

.youtube{
    height: 80px;
}

.instagram {
    height: 80px;
}

.copy {
    text-align: center;
    font-weight: bold;
}

